<% if logged_in? %>
  <div class="row">
    <div id="activity-display" class="col-md-8">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <br>
      <section class="activity_form">
        <%= render 'shared/activity_form' %>
      </section>
    </div>
  </div>
  <br>
  <%= pie_chart @show.group(:activity).sum(:minutes) %>

<% else %>
  <div class="center jumbotron">
    <div id="jumbo-content">
      <h1>Yes, I work out.</h1>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary "%>
    </div>
  </div>

<% end %>
