<footer class="footer">
  <small>
    Yes, I work out. Designed and built in Seattle, WA.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://lifeonthereg.com">Contact the builder...</a></li>
    </ul>
  </nav>
</footer>
